body {
  font-size: 15pt;
  background-color: black;
}

.load {
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
  margin: 25% auto;
  box-shadow: 0px 0px 7px 3px chartreuse;
}

.app {
  padding-top: 35%;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: black;
  font-weight: bold;
  background-color: orange;
  border-style: none;
  border-radius: 18px;
  padding: 10px 40px;
}

.memoryText {
  margin-top: 20px;
  color: gray;
}

.kech {
  margin-top: 20px;
  color: gray;
}

sup {
  color: white;
}

.box-left{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: yellow;
}

.box-right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: orange;
}